
<div class = "container dash-container">
  <div class = userinfo>
    <div class = details>
      <h1>Hello <%= current_user.nickname %></h1>
      <h2><% current_user.description %></h2>
      <div class = dashboard-btn>
        <p><%= link_to "Break Bread", new_meal_path, class: "btn btn-success" %></p>
        <p><%= link_to "Discover meals", meals_path, class: "btn btn-success" %></p>
      </div>
    </div>
      <figure class= img>
        <img src="https://avatars.githubusercontent.com/u/77808978?v=4" alt="">
      <figcaption>Absolute Foody. Living in Moers.</figcaption>
      </figure>
  </div>
  <div class = carousel>
    <p class= sticky>the meals you have offered:</p>
    <% current_user.meals.each do |meal| %>
      <%= link_to meal_path(meal) do %>
        <div class="meal-card">
          <%= cl_image_tag meal.photos.first.key, class:'photo'%>
          <div class="meal-card-infos">
            <div>
              <p><%= meal.name %></p>
            </div>
            <h2 class="pricing"><%= meal.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class = carousel>
    <p class= sticky>the meals you have ordered:</p>
    <% current_user.orders.each do |order| %>
      <%= link_to meal_path(order.meal) do %>
        <div class="meal-card">
          <%= cl_image_tag order.meal.photos.first.key, class:'photo'%>

          <div class="meal-card-infos">
            <div>
              <p><%= order.meal.name %></p>
            </div>
            <h2 class="pricing"><%= link_to "Chat with #{order.meal.user.nickname}", chatroom_order_path(order) %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
