<div class="dashboard">
  <p>Hey:</p>
  <p><%= @user.nickname %></p>
  <br>
  <p>You are offering the following meals:</p>
  <% @meals_offered.each do |meal| %>
    <p><%= meal.name %></p>
    <%= pluralize meal.orders.size, "orders"  %> have been placed:
    <ul>
      <% meal.orders.each do |order| %>
      <li><%= order.user.nickname %> placed an order <%= link_to 'Start a Chat', chatroom_order_path(order) %></li>
      <% end %>
    </ul>
  <% end %>
  <br>

    <p>You ordered the following meals:</p>
  <div class="dashboard-order">
    <% @orders.each do |order| %>
      <p><strong><%= order.meal.name%></strong></p>
      <p><%= order.meal.user.email%></p>
      <div class="btn-dashboard justify-content-center">
        <%= link_to 'Chat', chatroom_order_path(order) %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="btn-dashboard">
    <p><%= link_to 'Discover Meals', meals_path %></p>
  </div>
  <div class="btn-dashboard">
    <p><%= link_to 'Post a Meal', new_meal_path %></p>
  <div/>
</div>
