
<div class = container>
  <div class = userinfo>
    <div class = details>
      <h1>Hello <%= current_user.nickname %></h1>
      <div class = dashboard-btn>
        <p><%= link_to "Break Bread", new_meal_path, class: "btn btn-success" %></p>
        <p><%= link_to "Discover meals", meals_path, class: "btn btn-success" %></p>
      </div>
    </div>
    <img src="https://avatars.githubusercontent.com/u/77808978?v=4" alt="">
  </div>
  <div class = carousel>
    <p class= sticky>the meals you have offered:</p>
    <% current_user.meals.reverse.each do |meal| %>
      <%= link_to meal_path(meal) do %>
        <div class="meal-card">
          <%= cl_image_tag meal.photos.first.key, class:'photo'%>
          <div class="meal-card-infos">
            <div>
              <p><%= meal.name %></p>
            </div>
            <h2 class="expiry"><%= "Good till #{meal.expiry}"  %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class = carousel>
    <p class= sticky>the meals you have ordered:</p>

    <% @unique_meals.reverse.each do |meal| %>
      <%= link_to meal_path(meal) do %>
        <div class="meal-card">
          <%= cl_image_tag meal.photos.first.key, class:'photo'%>

          <div class="meal-card-infos">
            <div>
              <p><%= meal.name %></p>
            </div>
            <p class = expiry>You,ve ordered this meal
            <%= " #{pluralize( @user.orders.count{|order| order.meal == meal }, 'time' )}" %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
