
<div class = "container dash-container backgroundcolour">
  <div class = userinfo>
    <div class = details>
      <h1>Hello <%= current_user.nickname %></h1>
      <h2><% current_user.description %></h2>
      <div class = dashboard-btn>
        <p><%= link_to "Break Bread", new_meal_path, class: "btn btn-success" %></p>
        <p><%= link_to "Discover meals", meals_path, class: "btn btn-success" %></p>
      </div>
    </div>
      <figure class= img>
        <img src="https://avatars.githubusercontent.com/u/77808978?v=4" alt="">
      <figcaption>Absolute Foody. Living in Moers.</figcaption>
      </figure>
  </div>
  <div class = carousel>
    <p class= sticky>the meals you have offered:</p>
    <% current_user.meals.reverse.each do |meal| %>
      <%= link_to meal_path(meal) do %>
        <div class="meal-card">
          <%= cl_image_tag meal.photos.first.key, class:'photo'%>
          <div class="meal-card-infos">
            <div>
              <p><%= meal.name %></p>
            </div>
            <h2 class="expiry"><%= "Good till #{meal.expiry}"  %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class = carousel>
    <p class= sticky>the meals you have ordered:</p>

    <% @unique_meals.reverse.each do |meal| %>

        <div class="meal-card">
          <%= link_to meal_path(meal) do %>
            <%= cl_image_tag meal.photos.first.key, class:'photo'%>
          <%end %>
          <div class="meal-card-infos">
            <%= link_to meal_path(meal) do %>
              <div>
                <p><%= meal.name %>made by <%= meal.user.nickname %></p>
                <p class = expiry>You,ve ordered this meal
                  <%= " #{pluralize( @user.orders.count{|order| order.meal == meal }, 'time' )}" %>
                </p>
              </div>
            <%end %>
            <div class = links-dashboard>
              <%= link_to  chatroom_order_path(Order.find_by(meal_id: meal.id)) do %>
                <div class = "d-flex align-items-center">
                  <p class ="m-0">Chat </p>
                  <h2 class ="m-0"> ✉️</h2>
                </div>
              <% end %>
              <%= link_to  "https://www.google.com/maps/dir/?api=1&destination=#{meal.latitude}%2C#{meal.longitude}&dir_action=navigate" do %>
                <div class = "d-flex align-items-center">
                  <p class ="m-0">Bring me there</p>
                  <h2 class ="m-0"> 🚀</h2>
                </div>
              <% end %>
            </div>

          </div>
        </div>

    <% end %>

  </div>

</div>
