<div class="container">
  <div class="row1">
    <%# <div class="d-flex col-6 flex-column justify-content-center">
      <p>No food left behind!</p>
      <p>Check out our <%= link_to 'meals', meals_path %>
    <%# </div> %>

    <div class="d-flex col-6 ">
      <a title="" href="#"><img src= <%= asset_path("fladenbrot_1.png") %> alt="Fladenbrot1" class="m-1"></a>
    </div>
    <div class="d-flex col-6">
      <a title="" href="#"><img src= <%= asset_path("fladenbrot_2.png") %> alt="Fladenbrot2" class="m-1"></a>
    </div>
  </div>
      <div class="btn-meals-homepage">
        <%= link_to 'Pick your Meal', meals_path %>
      </div>
      <div class="btn-create-homepage">
        <%= link_to 'Post your Meal', new_meal_path %>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="d-flex col-12 flex-column justify-content-center align-items-center">
      <h2>It is all about sharing!</h2>
      <div class="align-items-center">
        <h4>1.</h4>
        <p>Enter your surplus food with portion size in the app.</p>
      </div>
      <div class="align-items-center">
        <h4>2.</h4>
        <p>Users discover your meals and book via the app.</p>
      </div>
      <div class="align-items-center">
        <h4>3.</h4>
        <p>Customers pick up the food on site at the time you specify.</p>
      </div>
      <div class="btn-homepage justify-content-center">
      <%= link_to 'Dashboard', meals_path %>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="d-flex col-12 flex-column justify-content-center align-items-center">
      <p>Get on Board</p>
      <div class="btn-homepage justify-content-center">
      <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
    </div>
</div>

</div>
