<h1>MEALS</h1>
<p><%= link_to 'post a meal', new_meal_path %></p>

<%= form_with url: meals_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          placeholder: "Find a meal"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

<br>
<% @meals.each do |meal| %>
  <ul><%= link_to meal.name, meal_path(meal) %></ul>
<% end %>
