<div class = contain>
  <div class = banner>

    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
  <div class = car1>
    <div class=sticky><p>top rated chef</p></div>

    <% @meals.each do |meal| %>
      <div class = passangers1>

        <% url = meal.photos.attached? ? meal.photos.first.url : 'https://www.tasteofhome.com/wp-content/uploads/2018/01/Beef-and-Mushrooms-with-Smashed-Potatoes_EXPS_SDON17_191910_D06_30_2b-4.jpg?fit=700,1024' %>

        <div class = "card" style="background-image: url(<%= "#{url}" %>)">
          <%= link_to meal.name, meal_path(meal) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class = car2>
    <p>top rated chef</p>
    <% @meals.each do |meal| %>
      <div class = passangers2>

        <% url = meal.photos.attached? ? meal.photos.first.url : 'https://www.tasteofhome.com/wp-content/uploads/2018/01/Beef-and-Mushrooms-with-Smashed-Potatoes_EXPS_SDON17_191910_D06_30_2b-4.jpg?fit=700,1024' %>

        <div class = "card" style="background-image: url(<%= "#{url}" %>)">
          <%= link_to meal.name, meal_path(meal) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
