<div class = contain>
  <div class = banner>

    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
  <div class = carousel>
    <p class= sticky>the meals you have ordered:</p>
    <% @meals.each do |meal| %>
      <%= link_to meal_path(meal) do %>
        <div class="meal-card">
          <%= cl_image_tag meal.photos.first.key, class:'photo'%>

          <div class="meal-card-infos">
            <div>
              <p><%= meal.name %></p>
            </div>
            <h2 class="pricing"><%= meal.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class = carousel>
    <p class= sticky>the meals you have ordered:</p>
    <% @meals.each do |meal| %>
      <%= link_to meal_path(meal) do %>
        <div class="meal-card">
          <%= cl_image_tag meal.photos.first.key, class:'photo'%>

          <div class="meal-card-infos">
            <div>
              <p><%= meal.name %></p>
            </div>
            <h2 class="pricing"><%= meal.price %></h2>
          </div>
        </div>
      <% end  %>
    <% end %>
  </div>
</div>
