<h1>create new meal</h1>
<p><%= link_to 'back to meals', meals_path %></p>
  <%= simple_form_for @meal do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category %>
    <%= f.input :details %>
    <%= f.input :cuisine %>
    <%= f.input :diet %>
    <%= f.input :portions %>
    <%= f.input :allergens %>
    <%= f.input :expiry %>
    <%= f.input :reservation_min %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class:"btn" %>
  <% end %>
