<h1><%= @meal.name %></h1>
<p><%= link_to 'back to meals', meals_path %></p>
<p><%= @meal.category %></p>
<p><%= @meal.cuisine %></p>
<p><%= @meal.details %></p>
<p><%= @meal.portions %></p>
<p><%= @meal.diet %></p>
<p><%= @meal.allergens %></p>
<p><%= @meal.price %></p>
<p><%= @meal.reservation_min %></p>
<p><%= @meal.expiry %></p>

<%= link_to "Edit this meal", edit_meal_path(@meal)%>
