<h1><%= @meal.name %></h1>
<p><%= link_to 'back to meals', meals_path %></p>
<p><%= @meal.category %></p>
<p><%= @meal.cuisine %></p>
<p><%= @meal.details %></p>
<p><%= @meal.portions %></p>
<p><%= @meal.diet %></p>
<p><%= @meal.allergens %></p>
<p><%= @meal.price %></p>
<p><%= @meal.reservation_min %></p>
<p><%= @meal.expiry %></p>
<p><%= @meal.address  %></p>

<% @meal.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<% if policy(@meal).edit? %>
<%= link_to "Edit this meal", edit_meal_path(@meal)%> |
<% end %>

<%= button_to "Delete this meal", @meal, method: :delete if policy(@meal).destroy? %>

<% if @meal.orders %>
  <p><%="there are currently #{@meal.orders.count} order for this meal"  %></p>
<% end %>

<%= link_to "order this meal", meal_orders_path(@meal), data: { 'turbo-method' => :post } %>
<%= link_to 'dashboard', dashboard_path %>
